/* build time:Sat Oct 29 2022 19:51:23 GMT+0800 (China Standard Time)*/
.comment-head .comment-headline{margin-bottom:1.6rem;display:inline-block;vertical-align:middle;font-weight:700;font-size:1.2rem}.comment-head hr{border:2px dashed var(--main);margin:2rem auto}
/* rebuild by neat */