/* build time:Sat Oct 29 2022 19:51:23 GMT+0800 (China Standard Time)*/
footer{text-align:center;font-size:.9rem;line-height:2em;padding:30px 0}footer .fa-fan{color:#00c4b6;-webkit-animation:IH 1s linear infinite;animation:IH 1s linear infinite}
/* rebuild by neat */